<div class= "post">
<p><i>Author : </i> 
<%= comment.author %></p>
<div class="comment"><p class="bylinee"><i>Comment : </i>
  <%= comment.body %></p>
</div>
</div>
<p>
  <%= link_to "Delete", [@fort, comment], :confirm =>('helpers.data.sure'), :method => :delete %> | <%= link_to 'Edit', edit_fort_comment_path(@fort, comment) %>

</p>
