<%% title "Editing <%= singular_table_name %>" %>

<div class="form edit">
  <%%= render 'form' %>
  <div class="link">
    <%%= link_to 'Show', @<%= singular_table_name %> %> |
    <%%= link_to 'Back', <%= index_helper %>_path %>
  </div>
</div>
