<% title "Edytowanie fortunki :)" %>

<div class="form edit">
  <%= render 'form' %>
  <div class="link">

<div class='button'><%= link_to 'Pokaż', @fort %></div> 
<div class='button'><%= link_to 'Powrót', forts_path %></div>
  </div>
</div>
