<% title "Edit Fortune :)" %>

<div class="form edit">
  <%= render 'form' %>
  <div class="link">

<div class='link'><%= link_to 'Show', @fort %> | <%= link_to 'Back', forts_path %></div>
  </div>
</div>
